#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    color: #fff;
    font-family: Monospace;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

#info a {
    color: #2983ff;
}
